<div class='auth-container'>
  <h2>Entrar</h2>
  <form action='/login' method='post'>
    <div class='form-control'>
      <label for='email'>Email</label>
      <input
        type='email'
        name='email'
        placeholder='Digite o seu email'
        required
      />
    </div>
    <div class='form-control'>
      <label for='senha'>Senha</label>
      <input
        type='password'
        name='password'
        placeholder='Digite a sua senha'
        required
      />
    </div>
    <div class='btn-container'>
      <input type='submit' value='Entrar' />
    </div>
    <p>Ainda não tem conta? <a href='/register'>Cadastre-se</a></p>
  </form>
</div>