<div class='thought-form-container'>
  <a href='/thoughts/dashboard'>Voltar</a>
  <h2>Criar pensamento</h2>
  <form action='/thoughts/add' method='post'>
    <div class='form-control'>
      <label class='title'>Pensamento</label>
      <input
        type='text'
        name='title'
        placeholder='Digite o seu pensamento...'
      />
    </div>
    <div class='btn-container'>
      <input type='submit' value='Criar' />
    </div>
  </form>
</div>