<div class='thought-form-container'>
  <a href='/thoughts/dashboard'>Voltar</a>
  <h2>Editar pensamento</h2>
  <form action='/thoughts/edit/{{thought.id}}' method='post'>
    <div class='form-control'>
      <label class='title'>Pensamento</label>
      <input
        type='text'
        name='title'
        placeholder='Digite o seu pensamento...'
        value='{{thought.title}}'
      />
    </div>
    <div class='btn-container'>
      <input type='submit' value='Editar' />
    </div>
  </form>
</div>